*.filters
*.user
x64/*
*.tmp
*.log
*.tlog
.vs/*
.vs/*/v17/*
/.vs/VSWorkspaceState.json
ARM64/*
GoreLib/*
build/*
build_windows/*
out/*
CMakeFiles/*
build/*
CMakeCache.txt
cmake*
GoreEngine
config.cfg
Makefile