################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GoreLib/GoreLib
/GoreLib/ARM64/Debug
